// Colors
white = #fff
black = #000
blackText = #333333
accentColor = #6360FF
accentHoverColor = #6474FF
graySecondary = #B7BABD
buttonsBorderColor = #ECECEC
iconGray = #5F5F5F
darkGrayText = #828C99
bgGray = #F9F9F9
hoverActiveColor = #6474FF
borderColor = rgba(163,168,210,0.2)

// Gradients
gradientPurpleLight = linear-gradient(99.03deg, #FFD8F4 0%, #ACE1FF 100%)
gradientOrangeLight = linear-gradient(99.03deg, #FFDCD8 0%, #FFEDAC 100%)
gradientAccentPurple = linear-gradient(99.03deg, #E9BAFF 0%, #8AB9FF 100%)
gradientAccentOrange = linear-gradient(99.03deg, #FF988A 0%, #FFDA57 100%)

// Shadows
activeShadow = 0 15px 40px rgba(0, 0, 0, 0.15)
softBgShadow = 0 6px 12px rgba(180, 185, 200, 0.05)
tileHoverShadow = 0 15px 40px rgba(0, 0, 0, 0.15)

// РАЗМЕРЫ
baseFontSize = 16px

// ШРИФТЫ
mainFont = 'Proxima Nova', sans-serif

// Media Bootstrap 4
$xxs-and-smaller = '(max-width: 350px)'
$xs-and-smaller = '(max-width: 576px)'
$sm-and-smaller = '(max-width: 768px)'
$md-and-smaller = '(max-width: 992px)'
$lg-and-smaller = '(max-width: 1200px)'
$xl-and-smaller = '(max-width: 1350px)'
$xxl-and-smaller = '(max-width: 1440px)'
