.title_32 // h1
	font-size 32px
	font-weight bold
	@media $sm-and-smaller
		line-height 1.2

.title_24 // h2
	font-size 24px
	font-weight bold
	@media $sm-and-smaller
		line-height 1.2

.title_20 // h3
	font-size 20px
	font-weight bold
	@media $sm-and-smaller
		line-height 1.2

.text_18
	font-size 18px

.text_16
	font-size 16px

.text_14
	font-size 14px

.text_13
	font-size 13px

.text_12
	font-size 12px

.bold
	font-weight bold

.semi
	font-weight 600

.title-global
	margin-bottom 24px
	display flex
	justify-content flex-start
	align-items center
	color blackText
	min-height 40px
