.catalog-product
.catalog-sub
  &--wrap
    width 100%
  &__title
    padding-bottom 16px
    margin-bottom: -20px
  &__sub
    font-weight bold
    padding 24px 0 0
    line-height 2.4
    transition()
    &:hover
      color accentColor
  &__list
    width 100%
  &__item
    width 100%
    font-weight 500
    line-height 1.4
  &__link
    line-height 2.4
    transition()
    &:hover
      color accentColor
  &__more
    line-height 2.4
    color accentColor
    transition()
    &:hover
      transform translateX(7px)
      color accentColor
