.subcategory
  @extend .category
  padding-top 40px
  &__link
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    height 64px
    padding 0 24px
    border 1px solid #EFEFEF
    box-shadow 0 6px 12px rgba(180, 185, 200, 0.05)
  &__sub
    font-weight 600
