.whom
  width 100%
  padding 40px 0
  @media $xs-and-smaller
    padding 28px 0
  &--wrap
    width 100%
    background-color white
  .title-global
    width 100%
    max-width 880px
    margin 0 auto
    text-align center
  &__btn
    padding-top 32px
    width: 100%
    display flex
    justify-content center
    align-items center
    .btn_global
      margin 0 5px
      padding 0
      width 130px