.filter-mobile--wrap(v-if="filters")
  .filter-mobile(:class="{'filter-mobile--active' : show}")
    ._head
      h2._title.title_24
        | Фильтры
      button(@click="toggleShow").btn_close
        Icon(:svg="`close`")
    ._main
      ul._list
        li._item(v-for="(item, key) in filters")
          span(@click="box = key")._link.text_16
            | {{ item.title }}
            Icon(:svg="`arrow-left`")
    ._btn
      button(@click="setFilter").btn_global.text_16
        | Применить фильтры ({{ countFilter }})
      button(@click="reset").btn_global.text_16.btn_gray
        | Сбросить
  div
    .filter-mobile__box(
      v-for="(item, key) in filters"
      :class="{'menu--active' : box === key && show}"
    )
      .filter-mobile__head
        h2.filter-mobile__title.title_24.filter-other(@click="box=-1")
          | Фильтры
        button(@click="toggleShow").btn_close
          Icon(:svg="`close`")
      .filter-mobile__main
        .checked(v-if="item.type == 'checkbox'")
          p._sub.text_14
            | {{ item.title }}
          ._label(v-for="option in item.options")
            button(type="button" @click="toggleOption(option.id)" :class="{'checked--active' : filter.indexOf(option.id) !== -1 }")._this.text_14
              | {{ option.title }}
        .inputs(v-if="item.type == 'from_to'")
          p._sub.text_14
            | {{ item.title }}
          ._label
            ._item
              span.text_14
                | от
              input(type="number" @change="toggleOption(`min_`+item.id+`=`+models.min[item.id])" v-model="models.min[item.id]" :placeholder="item.placeholders.min" autocomplete="off")._this.text_14
            ._item
              span.text_14
                | до
              input(type="number" @change="toggleOption(`max_`+item.id+`=`+models.max[item.id])" v-model="models.max[item.id]" :placeholder="item.placeholders.max" autocomplete="off")._this.text_14
          .checked(v-if="item.options")
            ._label(v-for="option in item.options")
              button(type="button" @click="toggleOption(option.id)" :class="{'checked--active' : filter.indexOf(option.id) !== -1 }")._this.text_14
                | {{ option.title }}
